head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title #{site_name} - #{page_title}
    +inc('css','css/fonts/font-awesome/css/font-awesome.css')
    +inc('css','css/main.css')
    - if(fancy)
        +inc('css','css/jquery.fancybox.css')
    - if(slick)
        +inc('css','css/slick.css')
        +inc('css','css/slick-theme.css')